@import '../../../../../styleSheet/grade_management_mixins';
@import '../../../../../styleSheet/loading_animation';

.assessment-card {
    @include assessment-card;

    & .title-quiz-count {
        @include title-count;
    }

    & .table-header {
        @include table-header;
    }

    & .table-items {
        @include table-items;
    }
}


.no-data-container {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .no-data {
        @include modal-like-card;
        width: 59.5rem;
    }
}


.spinner {
    @include spinner;
}