@import '../../../../styleSheet/grade_management_mixins';

.container {
    width: 100%;
    min-width: 1220px;
    height: 100%;
    padding: 0 8rem;
}

.no-data {
    @include modal-like-card;
}

p-tabPanel {
    & div {
        height: 80vh;
        overflow-y: scroll;
    }

    & p {
        height: 65vh;
        overflow-y: scroll;
    }
}