<main >
  <div class="curriculum-header">
    <h2>{{ curriculum?.title }}</h2>
    <div class="subtitle-info">
      <span>
        <div class="gray-circle"></div>
        {{curriculum?.specialization | titlecase}}
      </span>

      <span>
        <div class="gray-circle"></div>
        Estimated duration 
        <b>{{getTotalDuration()}}</b>
      </span>

      <span>
        <div class="gray-circle"></div>
        Created by
        <b>
          Francis Class-peters on
        </b>
        {{curriculum?.createdAt | date}}
      </span>
    </div>
  </div>

  <div class="scrollable-content">
    <div class="cover-image">
      <img [src]="curriculum?.thumbnailImageUrl" alt="cover-image"/>
    </div>

    <div class="description">
      <p>"{{ curriculum?.description }}"</p>
    </div>

    <mat-divider></mat-divider>

    <div class="modules-section">
      <div class="info-headers">
        <h4 (click)="setActiveDetail('overview')"
          matTooltip="view curriculum overview"
          [ngClass]="{ 'active': activeSection() === 'overview' }">
          Overview
        </h4>
        <h4 (click)="setActiveDetail('modules')"
          matTooltip="view modules and topics"
          [ngClass]="{ 'active': activeSection() === 'modules' }">
          Modules & Topics
        </h4>
      </div>
      <div *ngIf="activeSection() === 'overview'" class="overview-section">
        <div class="overview-info">
          <div class="info">
            <img src="../../../../../assets/Images/svg/carbon_document.svg" alt="">
            {{ curriculum?.modules?.length }} modules - {{ totalTopics() }} topics
          </div>
          <div class="info">
            <img src="../../../../../assets/Images/svg/book.svg" alt="">
            {{ totalTopics() }} topics
          </div>
          <div class="info">
            <img src="../../../../../assets/Images/svg/material-symbols_date-range-outline.svg" alt="">
            {{ curriculum?.createdAt | date: 'shortDate' }}
          </div>
        </div>

        <div class="objectives-section">
          <h5>Objectives</h5>
          <div class="obj-list">
            <p *ngFor="let objective of curriculum?.learningObjectives; let objIndex = index">
              {{objIndex + 1}}. {{ objective }}
            </p>
          </div>
        </div>

        <div class="course-materials-section">
          <h5>Course Materials</h5>
          <div>
            <div class="material-list" *ngFor="let module of curriculum?.modules; let matIndex = index">
              <div class="module-files">
                <h6>#{{ matIndex + 1}}. {{ module.title }}</h6>
                <ng-container *ngIf="module.fileUrl && module.fileUrl.length > 0; else noFiles">
                  <div *ngFor="let fileUrl of module.fileUrl" class="file-item">
                    <a 
                    class="file-name" 
                    [href]="fileUrl" 
                    target="_blank" 
                    matTooltip="preview file"
                    >
                    {{ extractFileName(fileUrl) }}
                    <img [src]="showFileType(fileUrl)" alt="File icon" class="file-icon">
                    </a>
                  </div>
                </ng-container>
                <ng-template #noFiles>
                  <p class="no-files">No files uploaded for this module</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="activeSection() === 'modules'" class="module-section">
        <p-accordion [multiple]="true" styleClass="custom-accordion">
          <p-accordionTab *ngFor="let module of curriculum?.modules; let moduleIndex = index">
            <ng-template pTemplate="header" >
              <h5>{{ module.title }}</h5>
            </ng-template>
            <div class="topics">
              <p *ngFor="let topic of module.topics; let topicIndex = index">
                {{ topic }}
              </p>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</main>
