<div class="container">
  <div class="list-wrapper" *ngIf="trainersData$ | async as trainers">
    <div class="trainers" *ngIf="trainers.length > 0; else noTrainers">
      <div class="headers">
        <div>No.</div>
        <div>Name</div>
        <div>Role</div>
        <div>Status</div>
      </div>
      <div class="trainers-list">
        <div *ngFor="let trainer of trainers; let i = index" class="trainer">
          <div class="number">#{{ i + 1 }}</div>
          <div class="name">
            {{ trainer.firstName | titlecase }}
            {{ trainer.lastName | titlecase }}
          </div>
          <div class="role">{{ trainer.role | titlecase }}</div>
          <div class="status" [ngClass]="trainer.status | lowercase">
            {{ trainer.status | titlecase }}
          </div>
          <div class="menu">
            <mat-icon svgIcon="dots" (click)="openMenu(i, $event)"></mat-icon>

            <app-options-dropdown
              *ngIf="selectedTrainerId === i"
              [isActive]="true"
              [options]="[{ icon: 'assets/Images/svg/update.svg', label: 'Update', action: 'update' }]"
              (optionSelected)="handleOptionSelected($event, trainer)"
            ></app-options-dropdown>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noTrainers>
      <div class="no-trainer">
        <mat-icon svgIcon="info"></mat-icon>
        No Trainer Created
      </div>
    </ng-template>
  </div>
</div>
