<div class="container">
    <app-searchbar 
        [title]="'Assessments'"
        [placeholder]="'search here...'"
        [showAddButton]="false"
        (searchChanged)="onSearchChange($event)"
        
    />

    <div class="divider"></div>

    <div class="content">
        <app-quiz-list
            [assessmentType]="'QUIZ'"
        />
        <app-quiz-list
            [assessmentType]="'LAB'"
        />
        <app-quiz-list
            [assessmentType]="'PRESENTATION'"
        />
    </div>

    <div class="no-content" *ngIf="empty">
        <img src="../../../../assets/Images/empty-hint-icon.jpg" alt="empty">
        <p>Nothing to show...</p>
    </div>

</div>


