<div class="container">
    <app-searchbar 
        [title]="'Assessments'"
        [placeholder]="'search here...'"
        [showAddButton]="false"
        (searchChanged)="onSearchChange($event)"
        
    />

    <div class="divider"></div>

    <div class="content" *ngIf="!empty">
        <app-quiz-list
            [assessmentType]="'QUIZ'"
            (dataEmpty)="handleChildEmpty($event)"
        />
        <app-quiz-list
            [assessmentType]="'LAB'"
            (dataEmpty)="handleChildEmpty($event)"
        />
        <app-quiz-list
            [assessmentType]="'PRESENTATION'"
            (dataEmpty)="handleChildEmpty($event)"
        />
    </div>

    <div class="no-content" *ngIf="empty">
        <img src="../../../../assets/Images/empty-hint-icon.jpg" alt="empty">
        <p>Nothing to show...</p>
    </div>

</div>


