<main class="curriculum-container">
  <ng-container *ngIf="showNoCurriculums">
    <app-empty-hint/>
  </ng-container>

  <div *ngIf="!showNoCurriculums" class="curriculums">
    <app-header/>

    <ng-container *ngIf="showNoSearchResults">
      <section class="no-results-section">
        <div class="no-results-content">
          <img src="../../../../../assets/Images/svg/undraw_no_data_re_kwbl.svg" alt="No results found">
          <h3>No matching curriculums found</h3>
          <p>We couldn't find any curriculum matching "{{ searchTerm }}"</p>
          <p>Try adjusting your search term or Create a new curriculum</p>
        </div>
      </section>
    </ng-container>

    <div class="scrollable-content" *ngIf="!showNoSearchResults">
      <section class="list-section">
        <div class="title">
          <span>
            Curriculums
            <img src="../../../../../assets/Images/svg/oui_i-in-circle.svg" alt="">
          </span>
          <p>{{ curriculums.length }} Curriculums</p>
        </div>

        <p-table [value]="curriculums" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th class="header-title-0">No.</th>
              <th class="header-title-1">Title</th>
              <th class="header-title-2">Modules</th>
              <th class="header-title-3">Topics</th>
              <th class="header-title-1">Specializations</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-curriculum let-index="rowIndex">
            <tr (click)="navigateToDetail(curriculum.id)" class="curriculum-row">
              <td>#{{ index + 1 }}</td>
              <td class="curriculum-txt-1">{{ curriculum.title }}</td>
              <td class="curriculum-txt-2">{{ curriculum.modules.length }}</td>
              <td class="curriculum-txt-3">{{ getTotalTopics(curriculum) }}</td>
              <td class="curriculum-txt-4">{{ curriculum.specialization | titlecase }}</td>
              <td>
                <app-options-dropdown
                  [isActive]="selectedRowIndex === index"
                  [options]="dropdownOptions"
                  (toggle)="toggleDropdown($event, index)"
                  (optionSelected)="handleOptionSelect($event, curriculum)"
                  class="options-dropdown"
                  (click)="$event.stopPropagation()">
                </app-options-dropdown>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <app-delete-modal
          [visible]="isDeleteModalVisible"
          [curriculumId]="selectedCurriculumId"
          (visibleChange)="isDeleteModalVisible = $event"
        />
      </section>
    </div>
  </div>
</main>
