<!-- <div class="container" *ngIf="assessmentDetails$ | async as details"> -->
<div class="container" *ngIf="assessmentDetails$ | async as quiz">
    <div class="title-and-trainee-name">
        <span>{{ quiz.title }} </span>
        <span>{{ quiz.type }}</span>
    </div>
    
    <div class="score">
        <span>{{ quiz.traineeEmail }}</span>
        <span>Submittted: {{ quiz.dateSubmitted | date: "dd-MM-yyyy" }}</span>
    </div>

    
    <p class="directions">
        Assign marks answers provided. Please review carefully before submitting the final grades
    </p>
    
    <div class="divider"></div>

    <div class="questions-container">
        <div>Links</div>
        <div class="links" *ngFor="let url of quiz.url">
            <a [href]="url">{{ url }}</a>
        </div>
    </div>

    <div class="buttons">
        <input type="number" placeholder="Enter score" [(ngModel)]="assignedScore">
        <button (click)="submitScore()">Submit Score</button>
    </div>
</div>